---
import "../styles/global.css";
import { MacbookScrollDemo } from "../components/macbook-scroll-demo";
---

<html lang="en">
  <body class="bg-zinc-900">
// test commit
    <h1 class="w-full text-center text-7xl italic font-black font-dmsans bg-zinc-900 text-white py-10 tracking-tight">
      Flowstice
    </h1>

    <MacbookScrollDemo client:load />

    <div class="w-full flex justify-center py-20">
      <button
        id="btn"
        class="bg-black text-white px-6 py-3 rounded-xl font-dmsans"
      >
        Click me
      </button>
    </div>

    <script>
      import "../scripts/main.ts";
    </script>

  </body>
</html>